<center>
        <h1>Portfolio items</h1>
                                </center>
 <%=  link_to "create a New portfolio" , new_portfolio_url %>
    <% @portfolio_items.each do |p| %>
          <p><%= p.title %> </p>
          <p><%= p.subtitle %> </p>
          <p><%= p.body %> </p>
          <p><%= image_tag p.thumb_image unless p.thumb_image.nil? %> </p>
          <%= link_to "Edit", edit_portfolio_path(p.id) %>
    <% end %>
